{% extends 'base.html' %}
{% load static %}
{% block page_head %}
    <link href="{% static 'bigday/css/invitation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <div class="container" id="invitation-body">
        <div>
        <section class="col-md-12 text-center">

            
            <div id="invitation-details">
            <img src="/static/invitation/images/wedding-rings.png" height="200">
            <h1 id="invitation-header">20 Años</h1>
            <p class="invitation-text">
                y contando ...
            </p>
        
            <h1>Leticia y Esteban</h1>
            </br>
            <p class="invitation-text">
                te invitan a celebrar su aniversario de matrimonio
            </p>
            <p class="invitation-location">
                el 15.01.2022 a las 3:00 pm<br>
                en el</br>
                Club de Campo "El Refugio"<br>
                Valencia 1185, Viña del Mar Alto</br>
                Viña del Mar</br>
                Chile
            </p>
            </div>
        </section>
        </div>
        

      
        <section class="col-md-12">
        <form data-toggle="validator" id="invitation-details" class="form-horizontal" method="post">
            <h2 id="rsvp-header" class="text-center">RSVP</h2>
            <div class="clearfix"></div>
            {% csrf_token %}
            {% for guest in party.ordered_guests.all %}
            <div class="form-group" data-is-child="{{ guest.is_child }}">
                {% with 'attending-'|add:guest.unique_id as attending_label %}
                <label for="{{ attending_label }}" class="col-sm-3 control-label">{{ guest.name }}</label>
                <label class="radio-inline">
                    <input class="attending-radio" type="radio" name="{{ attending_label }}" value="yes" {% if guest.is_attending %}checked="checked"{% endif %} required> asistire con mucho gusto
                </label>
                <label class="radio-inline">
                    <input class="attending-radio" type="radio" name="{{ attending_label }}" value="no" {% if guest.is_attending == False %}checked="checked"{% endif %} required> no podre asistir
                </label>
                {% endwith %}
            </div>
            {% endfor %}
            <div class="form-group col-sm-12">
                <input type="text" name="comments" class="form-control" placeholder="Preguntas/Comentarios" >
            </div>
            <div class="form-group">
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Enviar" />
                </div>
            </div>
        </form>
        </section>
        <section class="col-md-12 text-center">
                <div id="invitation-details">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d927.4996265153782!2d-71.55674346211134!3d-33.032840905751726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689de0ef474ad23%3A0xeada09a1bd5331a1!2sCountry%20Club%20Refuge%20Vina%20del%20Mar!5e0!3m2!1sen!2sca!4v1637709984850!5m2!1sen!2sca" width="250" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block page_js %}
    <script src="{% static 'validator.js' %}"></script>
    <script>
    $(function () {
        // enable/disable meal choices based on attendance
        $("input.attending-radio").change(function (e) {
            var target = $(e.target);
            if (target.closest('.form-group').data('is-child') === "True") {
                // don't attempt to update meals for children, who don't have them.
                return;
            }
            var value = target.attr('value');
            var mealButtonContainer = target.closest('.form-group').next('.form-group');
            var mealButtons = mealButtonContainer.find('[type=radio]');
            if (value === 'yes') {
                mealButtonContainer.removeClass('text-muted');
                mealButtons.each(function (index, button) {
                    button.disabled = false;
                    button.required = true;
                });
            } else if (value === "no") {
                mealButtonContainer.addClass('text-muted');
                mealButtons.each(function (index, button) {
                    button.checked = false;
                    button.disabled = true;
                    button.required = false;
                });
            }
            // reload validation
            $(document.forms[0]).validator('destroy');
            $(document.forms[0]).validator();
        });
    });
    </script>
{% endblock %}
